@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*navigation*/

header {
    background-color: #164863;
    padding: 1rem;
    padding-right: 3rem;
    position: fixed;
    width: 96%;
    height: 5vh;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #0C356A;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #0C356A;
}

/*Home*/

.home {
    height: 100vh;
    text-align: center;
    background-color: #164863;
    background-image: linear-gradient(180deg, #164863, #DDF2FD);
}

.home h1{
    padding-top: 30vh;
    height: 20vh;
    font-size: 100px;
    color: #DDF2FD;
    font-family: Merriweather, serif;
    text-shadow: 2px 2px #0C356A;
}

.home p {
    padding-bottom: 20vh;
    padding-top: 5vh;
    height: 20vh;
    font-size: 50px;
    color: rgba(0, 51, 69, 0.715);
    font-family: "Open Sans", sans-serif;
    text-shadow: 2px 2px #e1eeff;
}

/*sections*/

section {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: 
        "image h2"
        "image p";
}

section img {
    grid-area: image;
    place-self: center;

}

section h2 {
    grid-area: h2;
    align-self: end;
    padding-bottom: 5vh;
    font-family: Merriweather, serif;
    font-size: 46px;
    width: 92%;
    color: #213555;
    text-shadow: 1px 1px #eaf8ff;
}

section p {
    grid-area: p;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 82%;
    justify-content: center;
    align-self: start;
    text-align: justify;
    color: #213555;
}

#about {
    background-color: #DDF2FD;
}

#about img {
    width: 60%;
    height: auto;
    border: 7px solid #f5fdff;
    box-shadow: 10px 10px lightblue;
}

#types img {
    width: auto;
    height: 70%;
    border: 7px solid #DDF2FD;
    box-shadow: 10px 10px rgba(85, 114, 124, 0.715);
}

#features img {
    width: 70%;
    height: auto;
    border: 7px solid #f5fdff;
    box-shadow: 10px 10px lightblue;
}

#types {
background-color: #9BBEC8;
}

#features {
    background-color: #DDF2FD;
}

footer {
    text-align: center;
    background-color: #DDF2FD;
}



.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;

}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;

}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;

}.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;

}.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 6s linear infinite;

}.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;

}.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;

}.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;

}.box div:nth-child(10) {
    top: 20%;
    left: 70%;
    animation: animate 12s linear infinite;
}


#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    font-family: "Open Sans", sans-serif;
}


.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

/* span first child means the 1st span element.
you are turning it into an x, or \ specifically.*/

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}


@media (max-width: 1024px) {
    .home {
        height: auto;
    }
    .home h1{
        padding-top: 20vh;
        height: auto;
        font-size: 90px;
    }

    .home p {
        padding-top: 2vh;
        height: auto;
        font-size: 40px;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "image"
            "h2"
            "p";
    }

    section img {
        grid-area: image;
        width: 50%;
        height: auto;
        margin-top: 7vh;
    }
    
    section h2 {
        grid-area: h2;
        place-self: center;
        align-self: end;
        padding-bottom: 2vh;
        font-size: 37px;
        width: 50%;
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 3vh;
    }
    
    section p {
        place-self: center;
        font-size: 14px;
        width: 60%;
        align-self: start;
        text-align: justify;
        padding-bottom: 5vh;
    }

    .nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        justify-content: flex-end;
        height: auto;
        padding: 1rem;
    }
}


@media (max-width: 600px) {
    .home {
        height: auto;
    }
    .home h1{
        padding-top: 20vh;
        height: auto;
        font-size: 60px;
    }

    .home p {
        padding-top: 1vh;
        height: auto;
        font-size: 30px;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "image"
            "h2"
            "p";
    }

    section img {
        grid-area: image;
        width: 30%;
        height: auto;
        margin-top: 3vh;
    }
    
    section h2 {
        grid-area: h2;
        place-self: center;
        align-self: end;
        padding-bottom: 1vh;
        font-size: 20px;
        width: 30%;
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
    
    section p {
        place-self: center;
        font-size: 10px;
        width: 50%;
        align-self: start;
        text-align: justify;
        padding-bottom: 3vh;
    }

    #types img {
        width: 50%;
    }

    .nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        height: auto;
        padding: 1rem;
    }
}