* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*navigation*/

header {
    background-color: aquamarine;
    padding: 1rem;
    padding-right: 3rem;
    position: fixed;
    width: 96%;
    height: 5vh;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/*Home*/

.home {
    height: 95vh;
    text-align: center;
    background-color: rgb(178, 144, 209);
}

.home h1{
    padding-top: 20vh;
    height: 20vh;
    font-size: 100px;
}

.home p {
    padding-bottom: 20vh;
    height: 20vh;
    font-size: 50px;
}

/*sections*/

section {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 45vh 45vh;
    grid-template-areas: 
        "image h2"
        "image p";
    grid-row-gap: 5rem;
}

section img {
    grid-area: image;
    padding: 10%;
    width: 50%;
    height: auto;
    place-self: center;
}

section h2 {
    grid-area: h2;
    font-size: 40px;
}

section p {
    grid-area: p;
    font-size: 20px;
    justify-content: center;
}

#about {
    background-color: rgb(169, 255, 185);
}

#types {
    background-color: rgb(243, 252, 114);
}

#features {
    background-color: rgb(120, 126, 242);
}



